@page
@using Microsoft.AspNetCore.Mvc.Localization
@{
    Layout = "Layouts/BaseLayout";
    ViewData["title"] = "eru";
}
@inject IViewLocalizer Localizer
@section AddToHead
{
    <link rel="stylesheet" href="dist/css/index.min.css"/>
}
<div id="wrapper" class="px-5">
    <h1 class="page-title">ERU</h1>
    <div class="tile is-ancestor">
        <div class="tile is-parent is-8 is-vertical">
            <div class="tile is-child notification is-info">
                <p class="title">@Localizer["who-are-we"]</p>
                <div>
                    <p>
                        @Localizer["who-are-we-content"]

                    </p>
                    <span class="has-text-left">@Localizer["eru-team"]</span>
                </div>
            </div>
            <div class="tile is-child notification is-primary">
                <p class="title">@Localizer["how-to-get-started"]</p>
                <div>
                    <p>
                        @Localizer["get-started-1"]

                    </p>
                    <p>
                        @Localizer["get-started-2"]
                    </p>
                </div>
            </div>
            <div class="tile is-child notification is-warning">
                <p class="title">@Localizer["supported-platforms"]</p>
                <ul class="content">
                    <li><a href="#">Facebook Messenger</a> </li>
                </ul>
            </div>
        </div>
        <div class="tile is-parent is-vertical">
            <div class="tile is-child notification is-success">
                <p class="title">@Localizer["thank-you"]</p>
                <div>
                    @Localizer["help-info"]
                </div>
            </div>
            <div class="tile is-child notification is-danger">
                <p class="title">@Localizer["you-can-help"]</p>
                <div>
                    @Localizer["help-details"]
                </div>
            </div>
        </div>
    </div>
</div>