@page
@using Microsoft.AspNetCore.Mvc.Localization

@{
    ViewData["title"] = Localizer["title"];
    Layout = "Layouts/FormLayout";
}

@inject IViewLocalizer Localizer

@section AddToScripts
{
    <script>
        window.successMessage = '@Localizer["upload-succeed"]';
    </script>
    <script src="~/dist/js/upload.min.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
}

<div class="field">
    <label class="label">@Localizer["api-key"]</label>
    <div class="control has-icons-left">
        <span class="icon is-small is-left">
            <box-icon name="lock-alt"></box-icon>
        </span>
        <input id="key-input" class="input" type="password" placeholder="@Localizer["api-key"]"/>
    </div>
</div>
<div class="field">
    <label class="label">@Localizer["file"]</label>
    <div class="file has-name is-fullwidth">
        <label class="file-label">
            <input id="file-input" onchange="displayFileName()" class="file-input" type="file" name="substitutions" accept="application/xml"/>
            <span class="file-cta">
                <span class="file-icon">
                    <box-icon name="cloud-upload"></box-icon>
                </span>
                <span class="file-label">
                    @Localizer["choose-file"]
                </span>
            </span>
            <span id="file-name" class="file-name"></span>
        </label>
    </div>
</div>
<div class="field is-grouped">
    <div class="control">
        <button id="submit-button" onclick="submit()" class="button">@Localizer["submit"]</button>
    </div>
    <div class="control">
        <button id="cancel-button" onclick="cancel()" class="button is-light">@Localizer["cancel"]</button>
    </div>
</div>